.error-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  background: #3c3c3c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 10px 20px #3c3c3c;
  text-align: center;
  .error-message {
    color: rgb(191, 191, 191);
  }
  .home-page-link {
    margin: 0;
    color: rgb(28, 115, 222);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    &:hover {
      color: rgb(20, 100, 165);
    }
  }
}
